@{
    ViewData["Title"] = "ChatGPT demo site";
}

<div class="container">
    <div class="row justify-content-lg-center">
        <div class="col-sm-12 col-md-12 col-lg-10">
            <h1 style="text-align:center">Open AI ChatGPT demo site</h1>
        </div>
    </div>
    <div class="row justify-content-lg-center">
        <div class="col-sm-12 col-md-12 col-lg-10">
            <p>Welcome to my OpenAI ChatGPT demo site. I created this site to demo practical uses of Chat GPT, which are integrated into an ASP.NET MVC 8.0 website</p>
        </div>
    </div>
</div>