@{
    ViewData["Title"] = "ChatGPT demo site";
}

<div class="container">
    <div class="row justify-content-lg-center">
        <div class="col-sm-12 col-md-12 col-lg-10">
            <h1 style="text-align:center; padding-top: 5px padding-bottom: 5px">Open AI ChatGPT demo site</h1>
        </div>
    </div>
    <div class="row justify-content-lg-center">
        <div class="col-sm-12 col-md-12 col-lg-10">
            <p>Welcome to my OpenAI ChatGPT demo site. I created this site to demo practical uses of OpenAI's ChatGPT large language model (LLM), which are integrated into an ASP.NET MVC 8.0 website.</p>
        </div>
    </div>
    <div class="row justify-content-lg-center">
        <div class="col-sm-12 col-md-12 col-lg-10">
            <p>The examples can be found above. The Github repo for this project can be found <a target="_blank" href="https://github.com/baxterp/OpenAI.ChatGPT.Examples.Web">here:</a></p>
        </div>
    </div>
</div>