<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OpenAI Examples</title>
@*     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
 *@    <link rel="stylesheet" href="~/lib/bootswatch/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OpenAI.ChatGPT.Examples.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container-fluid" style="padding-top:5px">
            <div class="row justify-content-md-center">
                <div class="col-sm-12 col-md-12 col-lg-8">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                        <div class="container-fluid">
                            <a class="navbar-brand" style="color:darkgray" href="~/">Home</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" style="color:darkgray;font-size:15pt" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Examples
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="~/NaturalLanguageTranslator">Natural Language Translation</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" href="~/CodeExplainer">Code Explainer</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>




                </div>
            </div>
        </div>
    </header>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-sm-12 col-md-12 col-lg-8">
                <main role="main" class="pb-3">
                     <div id="divOverlay">
                        @RenderBody()
                   </div>
                </main>
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <h6 style="text-align:center; height:40px;padding-top:10px">&copy; 2024 - Baxter Pearson</h6>
                </div>
            </div>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
